<a href="https://colab.research.google.com/github/shanedligutan/LinearAlgebra./blob/main/Assignment4_LIGUTAN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**Linear Algebra for ECE**

**Laboratory 4: Matrices**

#**Discussion**

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import scipy.linalg as la
%matplotlib inline

**Matrices**

A matrix  (whose plural is matrices) is a rectangular array of numbers, symbols, or expressions, arranged in rows and columns that can work with linear equations. [1] 
>![Untitled.png]()

The notation and use of matrices is probably one of the fundamentals of modern computing. Matrices are also handy representations of complex equations or multiple inter-related equations from 2-dimensional equations to even hundreds and thousands of them.

Let's say for example you have $A$ and $B$ as system of equation.

$$
A = \left\{
    \begin{array}\
        x + y \\ 
        4x - 10y
    \end{array}
\right. \\
B = \left\{
    \begin{array}\
        x+y+z \\ 
        3x -2y -z \\
        -x + 4y +2z
    \end{array}
\right. $$

We could see that $A$ is a system of 2 equations with 2 parameters. While $B$ is a system of 3 equations with 3 parameters. We can represent them as matrices as:

$$
A=\begin{bmatrix} 1 & 1 \\ 4 & {-10}\end{bmatrix} \\
B=\begin{bmatrix} 1 & 1 & 1 \\ 3 & -2 & -1 \\ -1 & 4 & 2\end{bmatrix}
$$

##Declaring Matrices

Just like our previous laboratory, we'll represent system of linear equations as a matrix. The entities or numbers in matrices are called the elements of a matrix. These elements are arranged and ordered in rows and columns which form the list/array-like structure of matrices. And just like arrays, these elements are indexed according to their position with respect to their rows and columns. This can be reprsented just like the equation below. Whereas $A$ is a matrix consisting of elements denoted by $a_{i,j}$. Denoted by $i$ is the number of rows in the matrix while $j$ stands for the number of columns.
Do note that the $size$ of a matrix is $i\times j$.

$$A=\begin{bmatrix}
a_{(0,0)}&a_{(0,1)}&\dots&a_{(0,j-1)}\\
a_{(1,0)}&a_{(1,1)}&\dots&a_{(1,j-1)}\\
\vdots&\vdots&\ddots&\vdots&\\
a_{(i-1,0)}&a_{(i-1,1)}&\dots&a_{(i-1,j-1)}
\end{bmatrix}
$$


We already gone over some of the types of matrices as vectors but we'll further discuss them in this laboratory activity. Since you already know how to describe vectors using **shape**, **dimensions** and **size** attributes, we'll use them to analyze these matrices.

NumPy is a package for scientific computing for python that  provides multidimensional array of numbers. [2]
>![Untitled11.png]()

In [4]:
##Making a function
def describe_mat(matrix):
    print(f'Matrix:\n{matrix}\n\nShape:\t{matrix.shape}\nRank:\t{matrix.ndim}\n')

In [5]:
##Declaring a 2x2 matrix
A=np.array([
            [1, 2],
            [3, 6]
])
describe_mat(A)

Matrix:
[[1 2]
 [3 6]]

Shape:	(2, 2)
Rank:	2

In [6]:
G=np.array([
            [1,1],
            [2,2]
])
describe_mat(G)

Matrix:
[[1 1]
 [2 2]]

Shape:	(2, 2)
Rank:	2

In [7]:
##Declaring a 3x2 matrix
B=np.array([[
            [8,2],
            [5,4],
            [1, 1]
]])
describe_mat(B)

Matrix:
[[[8 2]
  [5 4]
  [1 1]]]

Shape:	(1, 3, 2)
Rank:	3

In [8]:
H=np.array([1,2,3,4,5])
describe_mat(H)

Matrix:
[1 2 3 4 5]

Shape:	(5,)
Rank:	1

##**Categorizing Matrices**


There are several ways of classifying matrices. Once could be according to their **shape** and another is according to their **element** values.

**According to shape**

##Row and Column Matrices


Row and column matrices are common in vector and matrix computations. They can also represent row and column spaces of a bigger vector space. Row and column matrices are represented by a single column or single row. So with that being, the shape of row matrices would be $1 \times j$ and column matrices would be $i \times 1$.

In [10]:
##Declaring a Row Matrix
row_mat_1D=np.array([
                     1,3,2
]) ##this is a 1-D Matrix with a shape of (3,), it's not really considered as a row matrix.
row_mat_2D=np.array([
                     [1,2,3]
]) ##this is a 2-D Matrix with a shape of (1,3)
describe_mat(row_mat_1D)
describe_mat(row_mat_2D)

Matrix:
[1 3 2]

Shape:	(3,)
Rank:	1

Matrix:
[[1 2 3]]

Shape:	(1, 3)
Rank:	2

In [12]:
##Declaring a Column Matrix

col_mat = np.array([
    [1],
    [2],
    [5]
]) ## this is a 2-D Matrix with a shape of (3,1)
describe_mat(col_mat)

Matrix:
[[1]
 [2]
 [5]]

Shape:	(3, 1)
Rank:	2

##Square Matrices


Square matrices are matrices that have the same row and column sizes. We could say a matrix is square if $i = j$. We can tweak our matrix descriptor function to determine square matrices.

In [15]:
def describe_mat(matrix):
    is_square = True if matrix.shape[0] == matrix.shape[1] else False 
    print(f'Matrix:\n{matrix}\n\nShape:\t{matrix.shape}\nRank:\t{matrix.ndim}\nIs Square: {is_square}\n')

In [16]:
square_mat = np.array([
    [1,2,5],
    [3,3,8],
    [6,1,2]
])

non_square_mat = np.array([
    [1,2,5],
    [3,3,8]
])
describe_mat(square_mat)
describe_mat(non_square_mat)

Matrix:
[[1 2 5]
 [3 3 8]
 [6 1 2]]

Shape:	(3, 3)
Rank:	2
Is Square: True

Matrix:
[[1 2 5]
 [3 3 8]]

Shape:	(2, 3)
Rank:	2
Is Square: False

##**According to element values**

##Null Matrix

A Null Matrix is a matrix that has no elements. It is always a subspace of any vector or matrix.

In [17]:
def describe_mat(matrix):
    if matrix.size > 0:
        is_square = True if matrix.shape[0] == matrix.shape[1] else False 
        print(f'Matrix:\n{matrix}\n\nShape:\t{matrix.shape}\nRank:\t{matrix.ndim}\nIs Square: {is_square}\n')
    else:
        print('Matrix is Null')

In [18]:
null_mat = np.array([])
describe_mat(null_mat)

Matrix is Null

#Zero Matrix

A zero matrix can be any rectangular matrix but with all elements having a value of 0.

In [19]:
zero_mat_row = np.zeros((1,2))
zero_mat_sqr = np.zeros((2,2))
zero_mat_rct = np.zeros((3,2))

print(f'Zero Row Matrix: \n{zero_mat_row}')
print(f'Zero Square Matrix: \n{zero_mat_sqr}')
print(f'Zero Rectangular Matrix: \n{zero_mat_rct}')

Zero Row Matrix:
[[0. 0.]]
Zero Square Matrix:
[[0. 0.]
 [0. 0.]]
Zero Rectangular Matrix:
[[0. 0.]
 [0. 0.]
 [0. 0.]]

#Ones Matrix

A ones matrix, just like the zero matrix, can be any rectangular matrix but all of its elements are 1s instead of 0s.

In [20]:
ones_mat_row = np.ones((1,2))
ones_mat_sqr = np.ones((2,2))
ones_mat_rct = np.ones((3,2))

print(f'Ones Row Matrix: \n{ones_mat_row}')
print(f'Ones Square Matrix: \n{ones_mat_sqr}')
print(f'Ones Rectangular Matrix: \n{ones_mat_rct}')

Ones Row Matrix:
[[1. 1.]]
Ones Square Matrix:
[[1. 1.]
 [1. 1.]]
Ones Rectangular Matrix:
[[1. 1.]
 [1. 1.]
 [1. 1.]]

#Diagonal Matrix

A diagonal matrix is a square matrix that has values only at the diagonal of the matrix.

In [21]:
np.array([
    [2,0,0],
    [0,3,0],
    [0,0,5]
])
# a[1,1], a[2,2], a[3,3], ... a[n-1,n-1]

array([[2, 0, 0],
       [0, 3, 0],
       [0, 0, 5]])

In [23]:
d = np.diag([2,3,5,7])
np.diag(d).shape == d.shape[0] == d.shape[1]

False

#Identity Matrix

An identity matrix is a special diagonal matrix in which the values at the diagonal are ones.

In [24]:
np.eye(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [25]:
np.identity(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

#Upper Identity Matrix

An upper triangular matrix is a matrix that has no values below the diagonal.

In [26]:
np.array([
    [1,2,3],
    [0,3,1],
    [0,0,5]
])

array([[1, 2, 3],
       [0, 3, 1],
       [0, 0, 5]])

#Lower Triangular Matrix

A lower triangular matrix is a matrix that has no values above the diagonal.

In [27]:
np.array([
    [1,0,0],
    [5,3,0],
    [7,8,5]
])

array([[1, 0, 0],
       [5, 3, 0],
       [7, 8, 5]])

##**Practice**

1.Given the linear combination below, try to create a corresponding matrix representing it.

$$\theta = 5x + 3y - z$$

In [68]:
theta=np.array([
                [5,3,-1]
])
describe_mat(theta)

Matrix:
[[ 5  3 -1]]

Shape:	(1, 3)
Rank:	2
Is Square: False

2. Given the system of linear combinations below, try to encode it as a matrix. Also describe the matrix.


$$ A = \left\{\begin{array} 5x_1 + 2x_2 +x_3\\ 4x_2 - x_3\\ 10x_3 \end{array}\right. $$

In [69]:
A=np.array([
            [1,2,1],
            [0,4,-1],
            [0,0,10]
])
describe_mat(A)

Matrix:
[[ 1  2  1]
 [ 0  4 -1]
 [ 0  0 10]]

Shape:	(3, 3)
Rank:	2
Is Square: True

3. Given the matrix below, express it as a linear combination in a markdown.

In [70]:
G = np.array([
    [1,7,8],
    [2,2,2],
    [4,6,7]
])

$$
G = \left\{
    \begin{array}\
        x + 7x_2+8x_3\\ 
        2x + 2x_2+2x_3\\
        4x+6x_2+7x_3
    \end{array}
\right. \\
$$

4. Given the matrix below, display the output as a LaTeX makdown also express it as a system of linear combinations.

In [72]:
H = np.tril(G)
H

array([[1, 0, 0],
       [2, 2, 0],
       [4, 6, 7]])

$$
G = \left\{
    \begin{array}\
        x_1\\ 
        2x_1 + 2x_2\\
        4x_1+6x_2+7x_3
    \end{array}
\right. \\
$$

#Matrix Algebra

**Addition**

In [73]:
A = np.array([
    [1,2],
    [2,3],
    [4,1]
])
B = np.array([
    [2,2],
    [0,0],
    [1,1]
])
A+B

array([[3, 4],
       [2, 3],
       [5, 2]])

In [74]:

2+A ##Broadcasting
# 2*np.ones(A.shape)+A

array([[3, 4],
       [4, 5],
       [6, 3]])

**Subtraction**

In [75]:
A-B

array([[-1,  0],
       [ 2,  3],
       [ 3,  0]])

In [76]:
3-B == 3*np.ones(B.shape)-B

array([[ True,  True],
       [ True,  True],
       [ True,  True]])

**Element-wise Multiplication**

In [82]:
A*B
np.multiply(A,B)

array([[2, 4],
       [0, 0],
       [4, 1]])

In [78]:
2*A

array([[2, 4],
       [4, 6],
       [8, 2]])

In [79]:
A@B

ValueError: ignored

In [80]:
alpha=10**-10
A/(alpha+B)

array([[5.e-01, 1.e+00],
       [2.e+10, 3.e+10],
       [4.e+00, 1.e+00]])

In [81]:
np.add(A,B)

array([[3, 4],
       [2, 3],
       [5, 2]])

***Activity***

##**Task 1**

Create a function named mat_desc() that througouhly describes a matrix, it should:



1.   Displays the shape, size, and rank of the matrix.
2.   Displays whether the matrix is square or non-square.
3.   Displays whether the matrix is an empty matrix.
4.   Displays if the matrix is an identity, ones, or zeros matrix

Use 5 sample matrices in which their shapes are not lower than  (3,3) . In your methodology, create a flowchart discuss the functions and methods you have done. Present your results in the results section showing the description of each matrix you have declared.

##**1. Shape, Size, and Rank of the matrix**

In [35]:
def mat_desc(matrix):
    print(f'Matrix:\n{matrix}\n\nShape:\t{matrix.shape}\nRank:\t{matrix.ndim}\n')

In [34]:
A = np.array([
      [7,1,2],
      [9,0,2],
      [8,3,6]
])
mat_desc(A)

Matrix:
[[7 1 2]
 [9 0 2]
 [8 3 6]]

Shape:	(3, 3)
Rank:	2

##**2. Square or Non-Square**

In [36]:
def mat_desc(matrix):
  is_square = True if matrix.shape[0] == matrix.shape[1] else False
  print (f'Matrix:\n{matrix}\n\nShape:\t{matrix.shape}\nRank:\t{matrix.ndim}\nIs Square: {is_square}\n')

In [37]:
B = np.array([
      [10,2,5],
      [7,5,3],
      [2,29,21]
])
mat_desc(B)

Matrix:
[[10  2  5]
 [ 7  5  3]
 [ 2 29 21]]

Shape:	(3, 3)
Rank:	2
Is Square: True

##**3. Empty Matrix**

In [38]:
def mat_desc(matrix):
  if matrix.size > 0:
    print (f'Matrix:\n{matrix}\n\nShape:\t{matrix.shape}\nRank:\t{matrix.ndim}\nIs Square: {is_square}\n')
  else:
    print('Matrix is Null')

In [40]:
C = np.array([
       
])
mat_desc(C)

Matrix is Null

##**4. Identity, Ones, or Zeros matrix**

**Zero Matrix**

In [41]:
zero_mat_row = np.zeros((3,4))
zero_mat_sqr = np.zeros((5,3))
zero_mat_rct = np.zeros((3,3))

print(f'Zero Row Matrix: \n{zero_mat_row}')
print(f'Zero Square Matrix: \n{zero_mat_sqr}')
print(f'Zero Rectangular Matrix: \n{zero_mat_rct}')

Zero Row Matrix:
[[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]]
Zero Square Matrix:
[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]
Zero Rectangular Matrix:
[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]

**Ones Matrix**

In [42]:
ones_mat_row = np.ones((4,4))
ones_mat_sqr = np.ones((6,3))
ones_mat_rct = np.ones((3,4))


print(f'Ones Row Matrix: \n{ones_mat_row}')
print(f'Ones square Matrix: \n{ones_mat_sqr}')
print(f'Ones Rectangular Matrix: \n{ones_mat_rct}')

Ones Row Matrix:
[[1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]]
Ones square Matrix:
[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]
Ones Rectangular Matrix:
[[1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]]

**Identity**

In [43]:
np.identity(4)

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

##**Task 2**

Create a function named mat_operations() that takes in two matrices a input parameters it should:

 

1.   Determines if the matrices are viable for operation and returns your own error message if they are not viable.
2.   Returns the sum of the matrices.
3.   Returns the difference of the matrices.
4. Returns the element-wise multiplication of the matrices.
5. Returns the element-wise division of the matrices.


Use 5 sample matrices in which their shapes are not lower than $(3,3)$. In your methodology, create a flowchart discuss the functions and methods you have done. Present your results in the results section showing the description of each matrix you have declared.

In [53]:
A = np.array([
    [1,5,6],
    [3,5,2],
    [3,7,3]
])
B = np.array([
    [4,4,2],
    [1,0,4],
    [9,8,3]
])
C= np.array([
    [12,32,7],
    [34,9,2],
    [2,4,3]
])
D= np.array([
    [2,9,1],
    [5,7,2],
    [6,3,2]
])

E = np.array([
    [4,5,5,4],
    [0,7,3,6],
    [9,3,2,3],
    [7,2,5,4]

])

##**1.Sum of the Matrices**

In [54]:
D+E

ValueError: ignored

In [55]:
A+B

array([[ 5,  9,  8],
       [ 4,  5,  6],
       [12, 15,  6]])

In [57]:
2+B

array([[ 6,  6,  4],
       [ 3,  2,  6],
       [11, 10,  5]])

##**2. Difference of the Matrices**

In [58]:
E-D

ValueError: ignored

In [59]:
C-B

array([[ 8, 28,  5],
       [33,  9, -2],
       [-7, -4,  0]])

In [61]:
5-A

array([[ 4,  0, -1],
       [ 2,  0,  3],
       [ 2, -2,  2]])

##**3. Element-Wise Multiplication**

In [62]:
E*D

ValueError: ignored

In [63]:
D*C

array([[ 24, 288,   7],
       [170,  63,   4],
       [ 12,  12,   6]])

In [64]:
2*A

array([[ 2, 10, 12],
       [ 6, 10,  4],
       [ 6, 14,  6]])

##**4. Element-Wise Division**

In [65]:
E/D

ValueError: ignored

In [67]:
B/C

array([[0.33333333, 0.125     , 0.28571429],
       [0.02941176, 0.        , 2.        ],
       [4.5       , 2.        , 1.        ]])

#***Conclusion***

>In this lab experiment, matrices through Python programming were tackled through
the use of Google Colab. Python is a programming language that is used in web-development, data science, and creating softwares. It is designed for readability, thus creating a stable and flexible programming language. Matrices are very important data structures for many mathematical and scientific calculations [3].

>From the last discussion, we are introduced the basics of Matrices. We tackled: Matrices, Declaring Matrices, Categorizing Matrices, and Matrix Algebra through online learning with Google Colab. These fundamentals are viable to gain foundational skills in familiarizing linear equations and matrices. With the help of google colab, we were able to grasp the different operations to write useful programs using the Python Language for matrices.